*.swp
*.swp
result
.terraform*
*.tfstate
*.tfstate.*
*.tfvars
.env
.direnv

# Per-host generated flake directories (created by terraform local_file)
nix/.generated/
.generated/

# Per-host downloaded NixOS config (created by download_nixos_config)
nixos-config/
